h1 {
   
      font-family: "Luckiest Guy";
      font-weight: 400;
      font-style: normal;
    }
    


input {
   border-style: solid;
   border-width: 1px;
   border-color: black;
 }

 #ingredients-list {
   font-family: "Single Day", cursive;
   font-weight: 400;
   font-style: normal;
 }

 .recipe-container {
   background-image: url("food.png");
   background-size: 74%;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 600px;
 }
 .recipe-container-hidden {
   background-image: none;
 }