h1 {
   
      font-family: "Luckiest Guy";
      font-weight: 400;
      font-style: normal;
    }
    


input {
   border-style: solid;
   border-width: 1px;
   border-color: black;
 }

 #ingredients-list {
   font-family: "Single Day", cursive;
   font-weight: 400;
   font-style: normal;
 }